body {
  margin: 5ch;
  overflow-y: scroll;
}

.content {
  font-family: 'Noto Sans Mono', monospace;
  font-size: small;
  line-height: 1.4;
  max-width: 80ch;
  letter-spacing: -.05em;
  margin-left: auto;
  margin-right: auto;

  color: #1e1e1e;

  /* font-size: 1rem; */
}

.day_info {
  margin-bottom: 1em;
  margin-left: 2em;
}

.empty_line {
  line-height: 0em;
}

.entry_prefix {
  /* background-color:chartreuse; */
  /* border-radius: 1ch; */
  /* padding-left: 1em; */
  /* position: relative; */
  /* left: -1ch; */
}

.entry {
  border-radius: 1em;
  margin-top: 1em;
  padding-left: 1ch;
  padding-right: 1ch;
  width: min;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}

.new_task_entry {
  background-color:#0496ff;
  color: #f9f9f9;
}

.info_entry {
  background-color:#8e9aaf;
  color: #f9f9f9;
}

.cancel_entry {
  background-color: #EA5460;
  color: #f9f9f9;
}

#input_field {
  background-color: #fbfbfe;
  border-width: 2px;
  border-color: #eee;
  /* color:azure; */
  
  /* outline: 1px solid; */
  /* outline-color:black; */

  font-family: inherit;
  font-size: inherit;
  width: 100%;
  
  margin-top: 1em;
  padding: 1em;
  border-radius: 2ch;

  box-sizing: border-box;
  resize: none;
}

#input_field:focus {
  background-color: #fff;
  outline: 1px transparent;
}


:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

.calendar {
  max-width: max-content;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.calendar__title {
  text-align: center;
  margin-bottom: 1ch;
}

.calendar__days_of_week {
  text-align: center;
  margin-bottom: 1ch;
}

.calendar__days_of_week,
.calendar__days_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  grid-gap: 2px;
}

.calendar__day_box {
  width: 8ch;
  height: 8ch;
  background-color: transparent;
  /* text-align:start; */
  /* vertical-align: top; */
  /* border-style: solid; */
  /* border-color: #014d40; */
  /* border-width: 1px; */
  box-shadow:0 0 0 2px var(--blue-grey-050);
}
.calendar__day_box:hover {
  background-color: var(--blue-grey-050);
  cursor: pointer;
}

.calendar__day_num {
  padding-top: .5ch;
  padding-left: .5ch;
}

.calendar__other_mon {
  color: var(--blue-grey-200);
}

.calendar__day_info div {
  /* font: .9em sans-serif; */
  /* line-height: 1.3ch; */
  line-height: 6px;
  border-radius: 1ch;
  margin-left: .2ch;
  margin-right: .2ch;
  margin-top: .5ch;
}

.calendar__info__new {
  background-color: #0496ff;
}

.calendar__info__note {
  background-color: #829ab1;
}

.calendar__info__complete {
  background-color: #3ebd93;
}

.calendar__day_tooltip_root {
  position: relative;
  /* display: inline-block; */
  border-bottom: 1px dotted black;
}

.calendar__day_tooltip {
  visibility: hidden;
  display: inline-block;
  width: max-content;
  background-color: #fff;
  color: black;
  text-align: left;
  border-radius: 1ch;
  border-style: solid;
  border-width: 2px;
  border-color: #9fb3c8;
  padding: .5ch;
  position: absolute;
  z-index: 1;
  bottom: 1ch;

  box-shadow:
  0px 14px 20px rgba(0, 0, 0, 0.2)
;
}

.calendar__day_box:hover .calendar__day_tooltip {
  visibility: visible;
}

.calendar__day_box .calendar__day_tooltip:hover {
  visibility: hidden;
}
