body {
  margin: 5ch;
  overflow-y: scroll;
}

.content {
  font-family: 'Noto Sans Mono', monospace;
  line-height: 1.4;
  max-width: 80ch;
  letter-spacing: -.05em;
  margin-left: auto;
  margin-right: auto;

  color: #1e1e1e;

  /* font-size: 1rem; */
}

.day_info {
  margin-bottom: 1em;
  margin-left: 2em;
}

.empty_line {
  line-height: 0em;
}

.entry_prefix {
  /* background-color:chartreuse; */
  /* border-radius: 1ch; */
  /* padding-left: 1em; */
  /* position: relative; */
  /* left: -1ch; */
}

.entry {
  border-radius: 1em;
  margin-top: 1em;
  padding-left: 1ch;
  padding-right: 1ch;
  width: min;
  padding-bottom: 0.1em;
  margin-bottom: 0.5em;
}

.new_task_entry {
  background-color:#0496ff;
  color: #f9f9f9;
}

.info_entry {
  background-color:#8e9aaf;
  color: #f9f9f9;
}

.cancel_entry {
  background-color: #EA5460;
  color: #f9f9f9;
}

#input_field {
  background-color: #fbfbfe;
  border-width: 2px;
  border-color: #eee;
  /* color:azure; */
  
  /* outline: 1px solid; */
  /* outline-color:black; */

  font-family: inherit;
  font-size: inherit;
  width: 100%;
  
  margin-top: 1em;
  padding: 1em;
  border-radius: 2ch;

  box-sizing: border-box;
  resize: none;
}

#input_field:focus {
  background-color: #fff;
  outline: 1px transparent;
}
