:root {
  --blue-0: #eff6fc;
  --blue-1: #e0eef9;
  --blue-2: #c1ddf4;
  --blue-3: #a1cbee;
  --blue-4: #82bae9;
  --blue-5: #63a9e3;
  --blue-6: #5998cc;
  --blue-7: #45769f;
  --blue-8: #325572;
  --blue-9: #1e3344;
  --blue-10: #14222d;

  --grey-0: #f3f3f3;
  --grey-1: #e7e7e7;
  --grey-2: #dbdbdb;
  --grey-3: #c4c4c4;
  --grey-4: #acacac;
  --grey-5: #949494;
  --grey-6: #888888;
  --grey-7: #6d6d6d;
  --grey-8: #525252;
  --grey-9: #363636;
  --grey-10: #1b1b1b;

  --green-0: #e0f9e0;
  --green-1: #c1f4c1;
  --green-2: #a3eea1;
  --green-3: #84e982;
  --green-4: #65e363;
  --green-5: #5bcc59;
  --green-6: #479f45;
  --green-7: #337232;
  --green-8: #1e441e;
  --green-9: #0a170a;

  --light-red: #F2AAAA;
  --dark-red: #E36387;
}

body {
  margin: 5ch;
  overflow-y: scroll;
  min-width:min-content;
}

.edit_btn:hover {
  color: var(--blue-9);
}

.content {
  /* font-family: 'Noto Sans Mono', monospace; */
  font-family: Inter var,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;
  /* font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    "Roboto",
    "Helvetica Neue", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
  
  font-size: medium;
  line-height: 1.45;
  max-width: 80ch;
  letter-spacing: -.005em;
  margin-left: auto;
  margin-right: auto;

  color: #1e1e1e;

  /* font-size: 1rem; */
}

.day_info {
  margin-bottom: 3em;
}

.day_date {
  font-size: 1.7em;
  color: var(--grey-3);
}

.edit_btn {
  text-decoration: underline;
  color: var(--grey-8);
  font-weight: 500;
}

.empty_line {
  line-height: 0em;
}

.entry_prefix {
  padding-left: 1ch;
  padding-right: 0.2ch;
}

.entry {
  /* border-radius: 5px; */
  border-left: 3px solid;
  margin-top: 1em;
  padding-right: 1ch;
  width: min;
  padding-bottom: 0.3em;
  padding-top: 0.2em;
  margin-bottom: 0.5em;
  font-weight: 600;
  font-size: 1.05em;
  letter-spacing: 0;
  color: var(--grey-8);
}

.new_task_entry {
  border-color: var(--blue-5);
}

.new_task_entry:hover {
  cursor: pointer;
}

.info_entry {
  border-color: var(--grey-2);
}

.info_entry:hover {
  cursor: pointer;
}

.completed_task_entry {
  border-color: var(--blue-1);
}

.completed_task_entry:hover {
  cursor: pointer;
}

.cancel_entry {
  border-color: var(--light-red);
}

.cancel_entry:hover {
  cursor: pointer;
}

.complete_entry {
  border-color: var(--green-4);
}

.complete_entry:hover {
  cursor: pointer;
}

#input_field {
  background-color: #fbfbfe;
  border-width: 2px;
  border-color: #eee;
  /* color:azure; */
  
  /* outline: 1px solid; */
  /* outline-color:black; */

  font-family: inherit;
  font-size: inherit;
  width: 100%;
  
  margin-top: 1em;
  padding: 1em;
  border-radius: 2ch;

  box-sizing: border-box;
  resize: none;
}

#input_field:focus {
  background-color: #fff;
  outline: 1px transparent;
}


:root {
  --teal-050: #effcf6;
  --teal-100: #c6f7e2;
  --teal-200: #8eedc7;
  --teal-300: #65d6ad;
  --teal-400: #3ebd93;
  --teal-500: #27ab83;
  --teal-600: #199473;
  --teal-700: #147d64;
  --teal-800: #0c6b58;
  --teal-900: #014d40;

  --blue-grey-050: #f0f4f8;
  --blue-grey-100: #d9e2ec;
  --blue-grey-200: #bcccdc;
  --blue-grey-300: #9fb3c8;
  --blue-grey-400: #829ab1;
  --blue-grey-500: #627d98;
  --blue-grey-600: #486581;
  --blue-grey-700: #334e68;
  --blue-grey-800: #243b53;
  --blue-grey-900: #102a43;
}

.calendar {
  max-width: max-content;
  min-width: 360px;
  font-family: sans-serif;
  line-height: 1.5;
  letter-spacing: 0;
  margin-left: auto;
  margin-right: auto;
}

.calendar__title {
  text-align: center;
  margin-bottom: 1ch;
}

.calendar__days_of_week {
  text-align: center;
  margin-bottom: 1ch;
}

.calendar__days_of_week,
.calendar__days_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  box-sizing: border-box;
  grid-gap: 2px;
}

.calendar__day_box {
  width: 8ch;
  height: 8ch;
  background-color: transparent;
  border-radius: 1ch;
  /* text-align:start; */
  /* vertical-align: top; */
  /* border-style: solid; */
  /* border-color: #014d40; */
  /* border-width: 1px; */
  /* box-shadow:0 0 0 2px var(--blue-grey-050); */
}
.calendar__day_box:hover {
  background-color: var(--blue-0);
  cursor: pointer;
}

.calendar__day_num {
  text-align: center;
  padding-top: .5ch;
  /* padding-left: .5ch; */
}

.calendar__other_mon {
  color: var(--blue-grey-200);
}

.calendar__day_info div {
  text-align: center;
  margin: auto;
  font-size: 0.9em;
  line-height: 6px;
  margin-top: .5ch;
}

.calendar__info__new {
  color: var(--blue-5);
}

.calendar__info__note {
  color: var(--grey-3);
}

.calendar__info__complete {
  color: var(--green-4);
}

.calendar__day_tooltip_root {
  position: relative;
  /* display: inline-block; */
  border-bottom: 1px dotted black;
}

.calendar__day_tooltip {
  visibility: hidden;
  display: inline-block;
  width: max-content;
  background-color: #fff;
  color: black;
  text-align: left;
  border-radius: 1ch;
  border-style: solid;
  border-width: 2px;
  border-color: #9fb3c8;
  padding: .5ch;
  position: absolute;
  z-index: 1;
  bottom: 1ch;

  box-shadow:
  0px 14px 20px rgba(0, 0, 0, 0.2)
;
}

.calendar__day_box:hover .calendar__day_tooltip {
  visibility: visible;
}

.calendar__day_box .calendar__day_tooltip:hover {
  visibility: hidden;
}
